@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@background : #232323;
@chatback : #5972A2;
@title : #291818;
body{
  background-color :  @background;
  color : #FFF;
  font-family : "Nanum Gothic", sans-serif;
  margin: 0;
}
.status-bar{
  background-color: black;
  color : white;
  font-size: small;
  height: 20px;
}
.status-bar-gadget{
  float: right;
}
